target/
!.mvn/wrapper/maven-wrapper.jar
/mvnw
/mvnw.cmd
/.mvn/wrapper/
.mtj.tmp/
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.settings/
.project
.classpath
bin/
.idea/
*.iml
*.iws
.vscode/
.DS_Store
node_modules/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
